/* 
    Document   : style
    Created on : Mar 12, 2013, 7:48:07 PM
    Author     : charleschademana
    Description:
        Main style for all the content.
*/
@import url('normalize.css');
@import url('type.css');

html, body { 
    background: #fff;
    font: 62.5% Helvetica, Arial, sans-serif;
    line-height: 16px;
    letter-spacing: 1px;
}
a {
    color: #000;
}
::selection {
    background: #c00;
    color: #fff;
}
::-webkit-selection {
    background: #c00;
    color: #fff;
}
::-moz-selection {
    background: #c00;
    color: #fff;
}
.clearfix {
    clear: both;
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
}
/* Container */
#container {
    position: relative; /* Added by JH */
    background: #fff;
    width: 950px;
    margin: 0 auto;
}

/* Header */
#headerP {
    padding: 5px;
    border-top: solid 2px #c00;
    border-bottom: solid 2px #c00;
}

#logo {
    float: left;
    width: 220px;
    margin-right: 107px;
}

#login {
    float: right;
    font-size: 2em;
    color: #c00;
}
#login a:hover {
    text-decoration: underline;
}

nav {
    float: right;
    font: 900 5em 'comfortaabold', Helvetica, san-serif;
    padding: 8px 0 0 10px;
    margin: 10px -121px 0 0;
    /*margin: 10px 0px 0 0;*/
}
nav ul li {
    margin-right: 15px;
}
nav ul li:last-child {
    margin: 0;
}
nav ul li a {
    color: #000;
}
nav ul li a:hover {
    color: #c00;
}

#secNav {
    background: #f1f1f1;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    font-size: 2em;
    padding: 5px;
    box-shadow: 0px 0px 5px rgba(185, 185, 185, .5);
    -webkit-box-shadow: 0px 0px 5px rgba(185, 185, 185, 0.5);
    -moz-box-shadow: 0px 0px 5px rgba(185, 185, 185, 0.5);
    box-shadow: 0px 0px 5px rgb(185, 185, 185);
    -moz-box-shadow: 0px 0px 5px rgb(185, 185, 185);
    -webkit-box-shadow: 0px 0px 5px rgb(185, 185, 185);
}
#secNav ul li {
    padding-right: 3px;
}
#secNav ul li {
    border-right: solid 1px #fff;
}
#secNav ul li:last-child {
    border: 0;
}

#headerS {
    font-size: 1.3em;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(185, 185, 185, .5);
    -webkit-box-shadow: 0px 0px 10px rgba(185, 185, 185, 0.5);
    -moz-box-shadow: 0px 0px 10px rgba(185, 185, 185, 0.5);
    box-shadow: 0px 0px 10px rgb(185, 185, 185);
    -moz-box-shadow: 0px 0px 10px rgb(185, 185, 185);
    -webkit-box-shadow: 0px 0px 10px rgb(185, 185, 185);
}
#headerSLeft h1 {
    color: #c00;
}
#headerS h2 {
    font-family: Georgia, serif;
    font-style: italic;
}
#headerS h3 {
    background: #ccc;
    padding: 10px;
    width: 130px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
#headerS h3:hover {
    text-decoration: underline;
}
#headerS a {
    color: #c00;
}
#headerSLeft {
    float: left;
    margin-right: 42px;
}
#headerSRight {
    float: left;
}
/* Content */
#content {
    margin-bottom: 20px;
    margin-top: 45px;
}
#content p {
    font-size: 2.3em;
}
#content div {
    background: #f1f1f1;
    padding: 10px;
    float: left;
    margin-right: 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 1.5em;
    box-shadow: 0 0 7px #ccc;
    -moz-box-shadow: 0 0 7px #ccc;
    -webkit-box-shadow: 0 0 7px #ccc;
}
#content div:hover {
    box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
}
#content #register, #manage, #control {
    width: 283px;
    height: 100px;
    text-align: center;
}
#content #control {
    margin: 0;
}
#content h1 {
    font-family: 'eastMarket', Helvetica, Arial, sans-serif;
}
#content #register h2, #manage h2, #control h2 {
    border-bottom: dotted 1px #fff;
    padding-bottom: 15px;
    padding-top: 10px;
}
#content h3 {
    font-style: italic;
    font-family: Georgia, serif;
    color: #c00;
}

#content div#loginSec, div#registerSec {
    width: 445px;
    text-align: center;
}
#content div#registerSec {
    margin-right: 0;
}
#content div#loginSec, div#registerSec {
    height: 247px;
}
#content label {
    font-size: .7em;
}
#content div#loginSec p, div#registerSec p {
    margin-bottom: 10px;
    text-align: left;
}
label#passwordLabel {
    margin-right: 34px;
}
#content #forgotPass {
    font-size: .5em;
}
#submit {
    float: left;
    padding: 8px;
    background: #000;
    color: #fff;
}
#createAccount, #registerForm, #update {
    float: left;
    font-size: .6em;
    background: #000;
    color: #fff;
    margin-top: 10px;
}

#content div#aboutContent, #instContent, #registerContent, div#devicesContent {
    font-size: 2.4em;
    width: 930px;
}
#content div#aboutContent h2, div#devicesContent h2 {
    font-size: 1em;
}
table {
    border-collapse: separate;
    border-spacing: 18px;
}
td {
    vertical-align: middle;
    text-align: center

}
#addDevice {
    font-size: .4em;
}
span {
    font-size: 1.5em;
}
ol {
    list-style-type: decimal;
    margin-left: 19px;
    font-size: 1.3em;
}
#instContent ul li {
    display: block;
    font-size: 1.3em;
}
/* Footer */
footer {
    padding: 10px;
    background: #f1f1f1;
    box-shadow: inset 0 0 7px #ccc;
}
#legal {
    float: left;
    font-size: 1.675em;
    margin-top: 5px;
    color: #c00;
}
footer figure {
    float: right;
}

/* Add css J Hussey */
body #formResult{
    font-size: 12px;
    position: absolute;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
    left: 380px;
    bottom: 30%;
    width: 400px;
    display:none
}

body #content .error:nth-child(2){
    font-size: 10px;
    color: #CC0000
}

body #content .commandSend{
    background-color: #336068;
    font-size: 10px;
    padding: 3px 15px;
    cursor: pointer;
    color: #f2f2f2;
}

body #devicesContent{
    position:relative
}

body #addmyDevice{
    background-color: white;
    font-size: 12px;
    padding: 20px;
    width: 96%;
}

body #addUserDevice{
    font-size: 12px;
    float: none;
    box-shadow: 0 0 0;
    cursor: pointer;
    width: 24px;
    background-color: #378854;
    padding: 8px;
    border-radius: 4px;
    color: white;
}

body #addmyDevice #brand, body #addmyDevice #model{
    padding: 5px;
    margin: 5px;
}

body #devicesContent table{
    min-height: 150px
}

.remove{
    padding-left: 0;
    text-align: center;
    cursor: pointer
}

#tooltip{
    background-color: white;
    padding: 10px;
    color: #808080;

}

body #devicesContent table{
    width:75%
}

body #status {
    float: right;
    width: 22%;
    padding: 10px;
    border-radius: 10px;
    font-size: 12px;
}

body .requestError{
    background-color: #AD4044;
    color: white;
}

body .requestSuccess{
   background-color: #457D53;
   color: white; 
}

body .defaultStatus{
   background-color: #d6d6d6;   
}

body #status h1,body #status h2,body #status h3,body #status h4,body #status h5,body #status span,body #status p,body #status div{
    font-size: 12px;
}