/* 
    Document   : type
    Created on : Mar 13, 2013, 7:28:03 PM
    Author     : charleschademana
    Description:
        This is the style file containing custom font.
*/

@font-face {
    font-family: 'comfortaabold';
    src: url('comfortaa_bold.eot');
    src: url('comfortaa_bold.eot?#iefix') format('embedded-opentype'),
         url('type/comfortaa_bold.eot') format('embedded-opentype'),
         url('type/comfortaa_bold.woff') format('woff'),
         url('type/comfortaa_bold.ttf') format('truetype'),
         url('type/comfortaa_bold.svg#comfortaabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'eastMarket';
    src: url('type/eastMarket.eot') format('embedded-opentype'),
         url('type/eastMarket.eot?#iefix') format('embedded-opentype'),
         url('type/eastMarket.ttf') format('truetype'),
         url('type/eastMarket.woff') format('woff'),
         url('type/eastMarket.svg#eastMarket') format('svg');
    font-weight: normal;
    font-style: normal;
}